.btn-photo {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.25s ease-in-out 0s;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
